extends ../base

block content
    .container.mt-5.mb-5.w-50.p-5.shadow.bg-white
        form.form
            .form-group
                h1 Edit Process
            .form-group
                label.col-form-label.col-form-label-lg(for='name') Process Name
                input#name.form-control.form-control-lg(type='name', autocomplete='off', value=`${process.process_name}`, placeholder='Enter Process name', required)
            .form-group
                label.col-form-label.col-form-label-lg(for='id') Process Id
                input#pid.form-control.form-control-lg(type='text', value=`${process.process_id}`, placeholder='Enter Process Id', required)
            .form-group
                label.col-form-label.col-form-label-lg(for='description') Description
                textarea#description.form-control.form-control-lg(type='text',placeholder='Process Description', rows="3", required)=process.description
            .form-group
                label.col-form-label.col-form-label-lg(for='workerId') Worker Id
                input#workerId.form-control.form-control-lg(type='text', value=`${process.worker_id}`, placeholder='Enter Worker Id', required)
            .form-group
                label.col-form-label.col-form-label-lg(for='machineId') Machine Id
                input#machineId.form-control.form-control-lg(type='text',value=`${process.machine_id}`, placeholder='Enter Machine Id', required)
            .form-group
                input#Id(type='hidden', name='Id', value=`${process._id}`)
                input#initialPid(type='hidden', name='initialPid', value=`${process.process_id}`)
            .form-group
                .d-inline-flex
                    input.btn.btn-primary.btn-lg(type='submit', name='submit', value='Save Process').mr-3#update
                    input.btn.btn-primary.btn-lg(type='submit', name='submit', value='Save as new Process').mr-3#saveAsNew
                    input.btn.btn-primary.btn-lg(type='reset', name='reset', value='Reset')

block scripts
    script(src='/resources/js/process/update.process.js')