extends ../base

block content
    button.btn.btn-info.m-3.btn-lg(type='button', onclick='window.history.back();') Back
    .container.mt-3
        
        .jumbotron.h-100.w-100.pt-5
            .row.mb-5.mr-0.ml-0.w-100
                .col-sm-6
                    h1.display-5=process.process_name
                    p.lead=process.description
                .col-sm-6
                    .card.float-right(style='width: 10rem;height:10rem')
                        img.card-img(src=`${process.process_thumbnail_location}`, alt='Process image',style='width: 10rem;height:10rem')
                
            .row.mb-5
                .col-sm-6.mb-2
                    .card.mb-3.border-info.h-100
                        .card-body
                            h4.card-title.mb-2.text-muted Details
                            ul.list-group.list-group-flush
                            li.list-group-item Process Id:  
                                =process.process_id   
                            li.list-group-item Worker Id: 
                                =process.worker_id
                            li.list-group-item Machine Id: 
                                =process.machine_id
                            li.list-group-item Username Created: 
                                =process.username_created
                            if process.username_updated
                                li.list-group-item Username Updated: 
                                    =process.username_updated
                .col-sm-6.mb-2
                    .card.mb-3.border-info.h-100
                        .card-body
                            h4.card-title.mb-2.text-muted Recents
                            ul.list-group.list-group-flush
                            li.list-group-item Item: 1
                            li.list-group-item Item: 2
                            li.list-group-item Item: 3
                            li.list-group-item Item: 4
                            li.list-group-item Item: 5
            .d-inline-flex.float-left
                button#update-process-btn(type='button', name='edit-btn' ,data-toggle='modal', data-target='#update-process-modal', onclick=`setUpdateProcessForm(${JSON.stringify(process)})`).btn.btn-outline-primary.mr-3.btn-lg Update
                button#delete-process-btn.btn.btn-outline-danger.mr-3.btn-lg Delete
                input#process-Id(type='hidden', name='process-Id', value=`${process._id}`)
    include _updateProcess    
            
block scripts
    script(src='/resources/js/process/update.process.js')
    script(src='/resources/js/process/delete.process.js')